{:index 0, :time 21219096, :type :invoke, :process 0, :f :read, :value nil}
{:index 1, :time 5029845165, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 2, :time 5030165149, :type :invoke, :process 0, :f :read, :value nil}
{:index 3, :time 10033540018, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 4, :time 10033687734, :type :invoke, :process 0, :f :read, :value nil}
{:index 5, :time 15035812463, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 6, :time 15035932130, :type :invoke, :process 0, :f :read, :value nil}
{:index 7, :time 20043647454, :type :fail, :process 0, :f :read, :value nil, :error :net-timeout}
{:index 8, :time 30055308298, :type :invoke, :process 0, :f :read, :value nil, :final? true}
{:index 9, :time 35060255789, :type :fail, :process 0, :f :read, :value nil, :final? true, :error :net-timeout}
